.section {
  display: flex;
  flex-direction: column;
  width: 80%;
  background-color: white;
  color: #ff9a9e;
  border-radius: 10px;
}

.heading {
  display: flex;
  justify-content: left;
  font-family: "Big Shoulders Inline Text";
  font-size: 42pt;
  width: 77%;
  border-bottom: #ff9a9e 2.5px solid;
  /* color: #ffffff; */
  margin-bottom: 0;
  margin-top: 0;
  margin-left: 5%;
}

.paragraph {
  margin-left: 15%;
  margin-right: 15%;
  padding: 1%;
  font-size: 14pt;
  /* color: #ffffff; */
}
