.section {
  display: flex;
  flex-direction: column;
}

.heading {
  display: flex;
  justify-content: left;
  font-family: "Big Shoulders Inline Text";
  font-size: 42pt;
  border-bottom: #ffffff 2.5px solid;
  color: #ffffff;
  margin-bottom: 0;
  margin-top: 0;
  margin-left: 5%;
}

.paragraph {
  margin-left: 5%;
  margin-right: 15%;
  padding: 1%;
  font-size: 16pt;
  color: #ffffff;
}
