.section {
  display: flex;
  flex-direction: column;
}

.heading {
  font-size: 50pt;
  color: white;
  margin-bottom: 0;
  margin-top: 0;
  margin-left: 5%;
  border-bottom: white 3px solid;
}

.subheading {
  display: flex;
  justify-content: left;
  margin-left: 5%;
  color: white;
  font-size: 30pt;
}

.paragraph {
  margin-left: 5%;
  margin-right: 15%;
  padding: 1%;
  color: white;
  font-size: 16pt;
}
